@import url("https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&family=Voces&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Rajdhani&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.App {
  position: absolute;
  text-align: center;
  background-color: #e7f1fc;
  font-family: "Rajdhani", sans-serif;
}

.body {
  width: 100%;
  background-color: #e7f1fc;
}

.Above-logo {
  width: 24%;
  height: 24%;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: -14%;
}

.App-link {
  color: #61dafb;
}

.collapsible-div {
  margin-bottom: 2%;
}

.Header {
  background-color: #2f5199;
}
.slideshow {
  position: absolute;
  height: 450px;
  width: 80%;
  margin-left: 10%;
  margin-top: 2%;
  border-radius: 50%;
}

.our-motto {
  color: #2f5199;
  width: 80%;
  text-align: center;
  margin-left: 10%;
  margin-top: 5%;
  justify-content: center;
  align-items: center;
}

.greetingBox {
  border-radius: 1rem;
  position: absolute;
  top: 15%;
  left: 70%;
  font-family: "Open Sans", sans-serif;
  font-family: "Rajdhani", sans-serif;
  color: white;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 38px;
  animation: fadeIn 2s;
}

@supports (backdrop-filter: blur(1px)) {
  .greetingBox {
    /* backdrop-filter: blur(1px); */
  }
}

.firstPage {
  width: 100%;
}

.homeBtn,
.aboutBtn,
.servicesBtn,
.contactBtn {
  border: 2px solid #2f5199;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-family: "Rajdhani", sans-serif;
  font-size: 15px;
  /* border-width: medium; */
  color: #fff;
  background-color: #2f5199;
  margin-top: 1.5%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  float: left;
  left: 2%;
  padding: 0.5em 1em;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #b0cdff;
  -webkit-transition: ease-out 0.2s;
  -moz-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
}

button:hover {
  background-color: #78c4ff;
}

.infoCard {
  width: 300px;
  height: 225px;
  background: rgb(0, 87, 128);
  position: relative;
  border-radius: 20px;
  cursor: pointer;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.123); */
}

.icon {
  width: 50px;
}

.info {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 10%;
  margin-bottom: 5%;
}
/* .servicesIcons {
  display: inline-block;
} */

.icons-and-services {
  margin-top: 10%;
  position: absolute;
  width: 100%;
}

h1 {
  text-align: center;
}

h5 {
  padding-left: 20px;
  color: white;
}

.form-input {
  padding: 15px;
  color: #2f5199;
  width: 50%;
  margin-left: 5%;
}

.form-submit-btn {
  display: inline-block; /* Make it a block-level element */
  padding: 10px 20px; /* Adjust padding to your preference */
  background-color: #2f5199; /* Button background color */
  color: #fff; /* Button text color */
  text-decoration: none; /* Remove underline on the link */
  border: none; /* Remove border */
  border-radius: 5px; /* Add rounded corners */
  cursor: pointer; /* Show a pointer cursor on hover */
  font-size: 16px; /* Adjust font size to your preference */
  text-align: center; /* Center text horizontally */
  transition: background-color 0.3s, color 0.3s; /* Add a smooth hover effect */
}

.form-submit-btn:hover {
  background-color: #78c4ff; /* Change background color on hover */
}

.centered-form {
  display: flex;
  /* background-image: linear-gradient(to right, #4e82f196, #2f5199); */
}

.form-parent {
  padding: 20px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  width: 100%;
  background-color: #2f5199;
  box-shadow: 0 0 5px 20px rgba(19, 19, 19, 0.06);
  /* From https://css.glass */
  background: rgba(47, 81, 153, 0.16);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.1px);
  -webkit-backdrop-filter: blur(1.1px);
}

.prefix-input {
  text-align: left;
}

option {
  font-size: large;
}

.submit-button {
  color: white;
  background-color: rgb(192, 206, 243);
  width: 200px;
  box-shadow: 0 0 2px 2px rgba(128, 149, 240, 0.932);
  border-radius: 10px;
  border-color: #2f5199;
  border-width: 0 0px 1px 2px;
  padding: 5px;
  font-family: "Rajdhani", sans-serif;
  align-content: center;
}

option,
select {
  width: 320px;
  box-shadow: 0 0 10px 10px rgba(19, 19, 19, 0.06);
  border-radius: 10px;
  border-width: 0 0px 1px 2px;
  padding: 5px;
  font-family: "Rajdhani", sans-serif;
}

input,
textarea {
  box-shadow: 0 0 10px 10px rgba(19, 19, 19, 0.06);
  border-radius: 10px;
  border-width: 0 0px 1px 2px;
  width: 300px;
  padding: 10px;
  font-family: "Rajdhani", sans-serif;
}

textarea {
  height: 150px;
}

.contact-column {
  float: left;
  width: 33.33%;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.contact-us {
  margin: auto;
  width: 50%;
  margin-left: 20%;
  color: white;
}

.facebook-logo {
  width: 10%;
  padding-left: 5%;
  margin-top: 5%;
}
.insta-logo {
  width: 10%;
}

.google-map {
  width: 400px;
  border-color: #2f5199;
  border-radius: 15px;
  margin-top: 20%;
}

.phone-numbers {
  color: #2f5199;
  margin: 40px;
}

.about-us-parent {
  width: 100%;
  height: 600px;
  position: absolute;
  /* From https://css.glass */
  background: rgba(47, 81, 153, 0.69);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(47, 81, 153, 0.31);
}

.scroll-to-top-btn {
  position: fixed; /* Make it float */
  bottom: 20px; /* Position from the bottom */
  right: 20px; /* Position from the right */
  z-index: 99; /* Ensure it's on top of other elements */
  border: none; /* No border */
  outline: none; /* No outline */
  background-color: #333; /* Dark background */
  color: black; /* White text */
  cursor: pointer; /* Hand cursor on hover */
  padding: 10px 20px; /* Some padding */
  border-radius: 5px; /* Rounded corners */
}

.big-as-logo {
  position: relative;
  width: 100%;
  height: 1000px;
}

.PhoneInputCountryIconImg {
  width: 0%;
}

.Collapsible {
  color: white;
  font-weight: bold;
}

.tab-header:hover {
  color: #78c4ff;
}

.Collapsible_trigger {
  font-weight: bold;
}

.services-tab {
  flex-direction: row;
  align-items: center;
}

.tab-header {
  padding: 8px;
  cursor: pointer;
  font-size: 24px;
}

.tab-content {
  padding: 8px;
}

.logo-container {
  width: 100%; /* Optional - Adjust the width as needed */
  text-align: center;
}

.context {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 50px;
  padding: 0.4em 1.5em;
  font-size: 14px;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  transform: scale(0.9);
  /* color: #ffffff; */
  border: 1px solid rgba(255, 255, 255, 0.164);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.144);
  overflow: hidden;
  transition: all 0.4s;
}

.as-logo-shield {
  position: relative;
  width: 200px;
  margin-top: 10%;
  justify-content: center;
  align-items: center;
}

.infoCard:hover .context {
  height: 150px;
}

.our-services {
  color: white;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.our-services-title {
  margin-top: 0%;
}

.testing:after {
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  display: inline-block;
  background: -moz-linear-gradient(
    left,
    rgb(5, 86, 236) 0%,
    rgba(253, 252, 251, 0) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left,
    right,
    color-stop(0%, rgba(253, 252, 251, 0)),
    color-stop(100%, rgb(5, 86, 236))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    right,
    rgba(253, 252, 251, 0) 0%,
    #2f5199 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    right,
    rgba(253, 252, 251, 0) 0%,
    #2f5199 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    right,
    rgba(253, 252, 251, 0) 0%,
    #2f5199 100%
  ); /* IE10+ */
  background: linear-gradient(
    to left,
    rgba(253, 252, 251, 0) 0%,
    #2f5199 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 );
}

.servicesInfo {
  margin-left: 5%;
  position: relative;
  margin-top: 0%;
}

.mainBanner {
  width: 100%;
  height: 400px;
  position: relative;
}

.parallax {
  /* The image used */
  background-image: url("../src/images/semi-stock-banner-2.jpg");
  /* Set a specific height */
  height: 700px;
  /* TODO For larger screens set to 70, middle and smaller set to 100vh */
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-two {
  /* The image used */
  background-image: url("../src/images/parked-semis.jpg");
  /* Set a specific height */
  height: 700px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.parallax-pattern-bg {
  background-image: url("../src/images/aslogrepeatingpattern.png");
  /* Set a specific height */
  height: 600px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.services-mural {
  display: grid;
}

.servicesBanner {
  width: 100%;
  float: right;
  margin-top: 5%;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.navbar {
  display: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes Main-logo-animation {
  0%,
  25% {
    opacity: 1;
  }
  25.01% {
    opacity: 0;
  }
}

@keyframes Transition-images-in {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes Move-img-right {
  from {
    right: 40%;
  }
  to {
    right: 20%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}
/* Desktop and Tablet view */
@media (min-width: 768px) {
  .AS-logo {
    width: 10%;
    margin-top: 1%;
    pointer-events: none;
    right: 15%;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: fadeIn 2s;
  }

  .contact-column {
    margin-bottom: 5%;
  }

  .Header {
    width: 100%;
    height: 90px; /* Adjust the height as needed */
    color: #fff;
  }

  .services-tab {
    display: flex;
  }

  .tabs-container {
    display: flex;
  }
}

/* TODO Need to account for middle screens less than 1550 */
/* Mobile View for mobile phones */
@media (max-width: 480px) {
  .AS-logo {
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    margin-top: 5%;
    pointer-events: none;
    /* right: 15%; */
    justify-content: center;
    align-items: center;
    position: relative;
    /* animation: Move-img-right 3s; */
    animation: fadeIn 2s;
  }

  .as-logo-shield {
    width: 120px;
  }

  .contact-column {
    width: 100%; /* Takes up the full width of the container */
  }

  .desktop-header-buttons {
    display: none;
  }

  .greetingBox {
    width: 80%;
    border-radius: 1rem;
    position: absolute;
    top: 3%;
    margin-bottom: 5px;
    left: 50%;
    font-family: "Open Sans", sans-serif;
    font-family: "Rajdhani", sans-serif;
    color: #2f5199;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 18px;
    animation: fadeIn 2s;
  }

  .form-input {
    width: 250px;
  }

  .form-parent {
    width: 350px;
  }

  .parallax {
    height: 300px;
    background-attachment: scroll; /* Sets to scroll on default for smaller screens d*/
    margin-top: 10%;
  }

  .parallax-two {
    height: 720px;
  }

  .tab-header {
    padding: 5px;
  }

  .tabs-container {
    margin-top: 5%;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Poppins", sans-serif;
  }

  input,
  select,
  textarea {
    width: 250px;
  }

  .main-greeting-text {
    display: none;
  }

  .sub-greeting-text {
    font-size: 16px;
    margin-bottom: 20%;
  }

  .google-map {
    width: 350px;
  }

  .container {
    max-width: 1050px;
    width: 90%;
    margin: auto;
  }

  .navbar {
    position: fixed;
    background-color: #2f5199;
    top: 0;
    width: 100%;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
    display: block;
    z-index: 1000;
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
  }

  .navbar .menu-items {
    display: flex;
  }

  .navbar .nav-container li {
    list-style: none;
  }

  .navbar .nav-container a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0.7rem;
  }

  .navbar .nav-container a:hover {
    font-weight: bolder;
  }

  .nav-container {
    display: block;
    position: relative;
    height: 60px;
  }

  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: white;
  }

  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 15px;
    box-shadow: black;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    font-size: 10px;
  }

  .navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }

  li:hover {
    background-color: #78c4ff;
  }

  .logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 1.2rem;
    color: #0e2431;
  }

  .nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }

  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }

  .nav-container input[type="checkbox"]:checked ~ .logo {
    display: none;
  }
}
