@import url("https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&family=Voces&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&family=Open+Sans&family=Tenali+Ramakrishna&family=Voces&display=swap");

.noto-sans-kr-font {
  font-family: "Noto Sans KR", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.App {
  width: 100%;
  position: absolute;
  text-align: center;
  background-color: #e7f1fc;
  font-family: "Rajdhani", sans-serif;
}

.main-greeting-img {
  width: 100%;
  background-color: #e7f1fc;
  justify-content: center;
}

.Above-logo {
  width: 24%;
  height: 24%;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fff;
  margin-top: -14%;
}

.App-link {
  color: #61dafb;
}

.background-img {
  height: 1200px;
  background-image: url("../src/images/aslogrepeatingbg.png"); /* Replace 'your-image.jpg' with the path to your image */
  background-size: cover; /* Cover the entire background */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent the background from repeating */
  /* Optional: Set a fixed height for the div */
}

.collapsible-div {
  margin-bottom: 2%;
}

.Header {
  background-color: #2f5199;
}
.slideshow {
  position: absolute;
  height: 450px;
  width: 80%;
  margin-left: 10%;
  margin-top: 2%;
  border-radius: 50%;
}

.our-motto {
  color: #2f5199;
  width: 80%;
  text-align: center;
  margin-left: 10%;
  margin-top: 5%;
  justify-content: center;
  align-items: center;
}

.image-container {
  display: flex;
  position: absolute;
  bottom: 29%;
  /* align-items: flex-end; */
}

.image-item {
  text-align: center;
  margin: 0 10px;
  bottom: 0;
  filter: drop-shadow(0 0 0.75rem #2f5199);
  height: 65%;
}

.image-item img {
  border-radius: 5px;
}

.image-item p {
  margin-top: 5px; /* Adjust spacing between image and subtext */
}

@supports (backdrop-filter: blur(1px)) {
  .greeting-box {
    /* backdrop-filter: blur(1px); */
  }
}

.main-page {
  width: 100%;
}

.desktop-header-buttons {
  float: left;
  margin-top: 25px;
}

a:hover {
  background-color: #78c4ff;
}

.infoCard {
  width: 300px;
  height: 225px;
  background: rgb(0, 87, 128);
  position: relative;
  border-radius: 20px;
  cursor: pointer;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.123); */
}

.icon {
  width: 50px;
  margin-top: 15px;
}

.profile-icon {
  width: 20px;
  margin-right: 2%;
}

.info {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 10%;
  margin-bottom: 5%;
}

.icons-and-services-list {
  margin-top: 2%;
  position: absolute;
  width: 100%;
}

h1 {
  text-align: center;
}

h5 {
  padding-left: 20px;
  color: #2f5199;
}

.desktop-form-spacing {
  padding-top:10%;
  display: flex;
  justify-content: center;
}

.form-submit-btn {
  width: 50%; /* Adjust width to your preference */
  margin: 0 auto; /* Center the button */
  display: block; /* Make it a block-level element */
  padding: 10px 20px; /* Adjust padding to your preference */
  background-color: #2f5199; /* Button background color */
  color: #fff; /* Button text color */
  border: none; /* Remove border */
  border-radius: 5px; /* Add rounded corners */
  cursor: pointer; /* Show a pointer cursor on hover */
  font-size: 16px; /* Adjust font size to your preference */
  text-align: center; /* Center text horizontally */
  transition: background-color 0.3s, color 0.3s; /* Add a smooth hover effect */
}

.form-submit-btn:hover {
  background-color: #78c4ff; /* Change background color on hover */
}

.centered-form {
  display: flex;
  /* background-image: linear-gradient(to right, #4e82f196, #2f5199); */
}

.input-fields-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: 0; /* Spacing between inputs */
}

.form-background {
  background-color: #2f5199;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px 20px rgba(19, 19, 19, 0.06);
  /* From https://css.glass */
  background: #e7f1fc;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.6px);
  -webkit-backdrop-filter: blur(6.6px);
  border: 1px solid rgba(255, 255, 255, 0.39);
}

.form-parent {
  padding: 20px;
  border-radius: 5px;
  max-width: 750px;
  width: 100%;
}

option {
  font-size: large;
}

.submit-button {
  color: #fff;
  background-color: rgb(192, 206, 243);
  width: 200px;
  box-shadow: 0 0 2px 2px rgba(128, 149, 240, 0.932);
  border-radius: 10px;
  border-color: #2f5199;
  border-width: 0 0px 1px 2px;
  padding: 5px;
  font-family: "Rajdhani", sans-serif;
  align-content: center;
}

option,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 220px;
  box-shadow: 0 0 10px 10px rgba(19, 19, 19, 0.06);
  border-radius: 10px;
  border-width: 0 0px 1px 2px;
  padding: 5px;
  margin-bottom: 15px;
  font-family: "Noto Sans KR", serif;
}

input,
textarea {
  box-shadow: 0 0 10px 10px rgba(19, 19, 19, 0.06);
  border-radius: 10px;
  border-width: 0 0px 1px 2px;
  width: 200px;
  padding: 10px;
  margin-bottom: 15px;
  font-family: "Noto Sans KR", serif;
}

textarea {
  height: 150px;
}
.contact-column-new {
  padding: 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1); /* Adjust as needed */
  backdrop-filter: blur(10px); /* Adjust as needed */
}
.glass-bg-white {
  /* From https://css.glass */
  color: #fafaf8;
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(47, 81, 153, 0.3);
  margin: 5px;
}
.glass-bg-blue {
 /* From https://css.glass */
background: rgba(47, 81, 153, 0.5);
border-radius: 5px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(47, 81, 153, 0.3);
margin: 5px;
}

.contact-column {
  float: left;
  width: 33.33%;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.contact-us {
  margin: auto;
  width: 60%;
  margin-left: 20%;
  margin-bottom: 5%;
  color: #2f5199;
}

.facebook-logo {
  width: 8%;
  padding-left: 5%;
}
.insta-logo {
  width: 8%;
}

.google-map {
  height: 200px;
  border-color: #2f5199;
  border-radius: 9px;
  margin-top: 10%;
}

.contact-information {
  /* From https://css.glass */
  color: #fff;
  width: 80%;
  background: rgba(242, 243, 246, 0.21);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(6.6px);
  -webkit-backdrop-filter: blur(6.6px);
  border: 1px solid rgba(242, 243, 246, 0.3);
}

.contact-info-parent {
  color: #fff;
  margin-left: 5px;
}

.contact-info-test {
  color: black;
  margin-left: 5px;
}
.form-and-contacts-container {
  display: flex;
  justify-content: space-between;
}

.form-parent {
  width: 48%;
}

.contact-numbers-section {
  color:#fff;
  width: 48%;
  padding-left: 20px;
  box-sizing: border-box;
}

a:link {
  text-decoration: none;
}

.about-us .scroll-to-top-btn {
  position: fixed; /* Make it float */
  bottom: 20px; /* Position from the bottom */
  right: 20px; /* Position from the right */
  z-index: 99; /* Ensure it's on top of other elements */
  border: none; /* No border */
  outline: none; /* No outline */
  background-color: #333; /* Dark background */
  color: black; /* #fff text */
  cursor: pointer; /* Hand cursor on hover */
  padding: 10px 20px; /* Some padding */
  border-radius: 5px; /* Rounded corners */
}

.big-as-logo {
  position: absolute;
  width: 100%;
  height: 1000px;
  margin-top: 50%;
}

.about-us-parent {
  color: #2f5199;
}

.about-us-body-container {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
}

.about-us-text {
  width: 80%;
}

.PhoneInputCountryIconImg {
  width: 0%;
}

.Collapsible {
  color: #fff;
  font-weight: bold;
}

.tab-header:hover {
  color: #78c4ff;
}

.Collapsible_trigger {
  font-weight: bold;
}

.services-tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  color: #fff;
  width: 80%;
  background: rgba(242, 243, 246, 0.21);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(6.6px);
  -webkit-backdrop-filter: blur(6.6px);
  border: 1px solid rgba(242, 243, 246, 0.3);
}

.tab-header {
  padding: 8px;
  cursor: pointer;
  font-size: 24px;
}

.tab-content {
  padding: 8px;
}

.logo-container {
  position: absolute;
  width: 100%;
  margin-top: -2%;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  height: 100vh;
}

header {
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Adjust padding as needed */
  background-color: #2f5199;
  color: #fff;
}

.left-buttons {
  display: flex;
  margin-top: -1%;
  border: 2px solid #2f5199;
  font-size: 16px;
}

.left-buttons a {
  text-decoration: none;
  color: #fff;
  margin-right: 25px; /* Add margin to separate the buttons */
  margin-top: 2%;
}

.centered-logo {
  text-align: center;
}

.centered-logo img {
  height: 40px;
  margin-top: -3%;
  margin-bottom: 8px;
  animation: fadeIn 2s;
}

.context {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 50px;
  padding: 0.4em 1.5em;
  font-size: 14px;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  transform: scale(0.9);
  /* color: #ffffff; */
  border: 1px solid rgba(255, 255, 255, 0.164);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.144);
  overflow: hidden;
  transition: all 0.4s;
}

.as-logo-shield {
  position: relative;
  width: 250px;
  margin-top: 10%;
  justify-content: center;
  align-items: center;
  animation: App-logo-spin 5s linear infinite;
  margin-bottom: 20px;
}

.infoCard:hover .context {
  height: 150px;
}

.our-services {
  color: #fff;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.our-services-title {
  margin-top: 5%;
}

.greeting-img:after {
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  display: inline-block;
  background: -moz-linear-gradient(
    left,
    rgb(5, 86, 236) 0%,
    rgba(253, 252, 251, 0) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left,
    right,
    color-stop(0%, rgba(253, 252, 251, 0)),
    color-stop(100%, rgb(5, 86, 236))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    right,
    rgba(253, 252, 251, 0) 0%,
    #2f5199 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    right,
    rgba(253, 252, 251, 0) 0%,
    #2f5199 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    right,
    rgba(253, 252, 251, 0) 0%,
    #2f5199 100%
  ); /* IE10+ */
  background: linear-gradient(
    to left,
    rgba(253, 252, 251, 0) 0%,
    #2f5199 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 );
}

.services-info {
  margin-left: 5%;
  position: relative;
  margin-top: 0%;
}

.mainBanner {
  width: 100%;
  height: 400px;
  position: relative;
}

.parallax {
  /* The image used */
  background-image: url("../src/images/semi-main-logo.png");
  height: 700px;

  background-repeat: no-repeat;
  background-size: cover;

  /* Flexbox for centering */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center; /* Center the text alignment */
}


.parallax-two {
  /* The image used */
  background-image: url("../src/images/parked-semis.jpg");
  /* Set a specific height */
    height: auto;
    min-height: 800px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.services-mural {
  display: grid;
}

.servicesBanner {
  width: 100%;
  float: right;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.navbar {
  display: none;
}

@keyframes App-logo-spin {
  0% {
    transform: perspective(600px) rotateY(0);
    animation-timing-function: ease-out;
  }
  40% {
    transform: perspective(600px) translateZ(150px) rotateY(170deg);
    animation-timing-function: ease-out;
  }
  50% {
    transform: perspective(600px) translateZ(150px) rotateY(190deg) scale(1);
    animation-timing-function: ease-in;
  }
  80% {
    transform: perspective(600px) rotateY(360deg) scale(0.95);
    animation-timing-function: ease-in;
  }
  100% {
    transform: perspective(600px) scale(1);
    animation-timing-function: ease-in;
  }
}

@keyframes Main-logo-animation {
  0%,
  25% {
    opacity: 1;
  }
  25.01% {
    opacity: 0;
  }
}

@keyframes Transition-images-in {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes Move-img-right {
  from {
    right: 40%;
  }
  to {
    right: 20%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}

@media (min-width: 768px) {
  .about-us-body-container {
    height: 850px;
  }
  .image-container{
    bottom: 24%;
  }
}



@media (max-width: 400px) {
  .about-us-body-container {
    height: 800px;
  }
}

@media (min-width: 1250px) {
  .form-input {
    padding: 15px;
    color: #2f5199;
    width: 50%;
    margin-left: 5%;
  }

  .image-container {
    bottom: 28%;
}

  .servicesBanner {
    margin-top: 5%;
  }

  .greeting-box {
    border-radius: 1rem;
    position: absolute;
    top: 10%;
    left: 80%;
    font-family: "Open Sans", sans-serif;
    font-family: "Rajdhani", sans-serif;
    color: #fff;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 38px;
    animation: fadeIn 2s;
  }
}
@media (min-width: 1000px) and (max-width: 1250px) {
  .contact-column-new.glass-bg-white {
    width: 80%;
    margin: 0 auto;
  }
  .image-container {
    bottom: 30%;
  }
}


@media (max-width: 1250px) {
  /* .about-us-body-container {
    height: 750px;
  } */
  .form-input {
    padding: 15px;
    color: #2f5199;
  }
  .form-parent {
    width: 750px;
  }

  .greeting-box {
    border-radius: 1rem;
    position: absolute;
    top: 8%;
    left: 70%;
    font-family: "Open Sans", sans-serif;
    font-family: "Rajdhani", sans-serif;
    color: #fff;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 38px;
    animation: fadeIn 2s;
  }

  input,
  textarea {
    width: 200px;
  }
  /* .image-container {
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    bottom: 26%;
  } */

  .image-item {
    flex: 1;
    text-align: center;
  }

  .image-item img {
    max-width: 150px;
  }
  select {
    width: 220px;
  }

  .parallax {
    height: 400px;
    background-attachment: scroll; /* Sets to scroll on default for smaller screens d*/
  }

  .parallax-two {
    height: auto;
    min-height: 800px;
  }
  .services-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
  }
}

@media (min-width: 820px) and (max-width: 1000px){
  .image-container{
    bottom: 47% !important;
  }
  .about-us-body-container {
    height: 800px !important;
  }
}

/* Mobile View for mobile phones */
@media (max-width: 820px) {
  .AS-logo {
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    margin-top: 20px;
    pointer-events: none;
    /* right: 15%; */
    justify-content: center;
    align-items: center;
    position: relative;
    /* animation: Move-img-right 3s; */
    animation: fadeIn 2s;
  }

  .about-us-title {
    margin-top: 5%;
  }

  .about-us-body-container {
    height: 1450px;
  }

  .as-logo-shield {
    width: 120px;
  }

  .background-img {
    height: 2350px;
  }

  .big-as-logo {
    position: absolute;
    width: 100%;
    height: 500px;
    margin-top: 50%;
  }

  .contact-column {
    width: 100%;
    position: relative;
  }

  .facebook-logo {
    width: 12%;
  }

  .greeting-box {
    width: 100%;
    position: absolute;
    top: 20em;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 18px;
  }

  .icons-and-services {
    margin-top: 10%;
  }

  .image-container {
    bottom: 39%;
  }
  .input-fields-group{ 
    display: block;
  }
  .form-request{
    width: 100%;
  }
  .form-and-contacts-container {
    display: block;
  }
  .form-background{
    width: 90%;
  }
  .google-map {
    width: 100%;
  }
  .contact-numbers-section {
  padding-left: 0;
  padding: 20px;
  width: 100%;
  }

  select {
    width: 200px !important;
  }

  .image-item img{
    max-width: 100px;
    margin: 0;
  }

  .parallax {
    height: 330px;
  }

  .parallax-two {
    height: 800px;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Poppins", sans-serif;
  }

  .main-greeting-text {
    display: none;
  }


  .services-tab {
    margin: 20px;
    width: 90%;
  }
  .sub-greeting-text {
    position: absolute;
    font-size: 18px;
  }

  .tabs-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5%;
  }

  .tab-header {
    padding: 5px;
  }

  .google-map {
    margin-bottom: 10%;
  }

  .container {
    max-width: 1050px;
    width: 90%;
    margin: auto;
  }
  .form-parent {
    width: 100;
  }

  header,
  .left-buttons,
  .centered-logo {
    display: none;
  }

  .navbar {
    background-color: #2f5199;
    top: 0;
    width: 100%;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
    display: block;
    z-index: 1000;
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
  }

  .navbar .menu-items {
    display: flex;
  }

  .navbar .nav-container li {
    list-style: none;
  }

  .navbar .nav-container a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0.7rem;
  }

  .navbar .nav-container a:hover {
    font-weight: bolder;
  }

  .nav-container {
    display: block;
    position: relative;
    height: 60px;
  }

  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #fff;
  }

  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 15px;
    box-shadow: black;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    font-size: 12px;
    margin-top: 10%;
  }

  .navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-weight: 500;
  }

  li:hover {
    background-color: #78c4ff;
  }

  .logo {
    position: absolute;
    right: 15px;
    font-size: 1.2rem;
    color: #0e2431;
  }

  .nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }

  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }

  .nav-container input[type="checkbox"]:checked ~ .logo {
    display: none;
  }
}
