@import url("https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&family=Voces&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Rajdhani&display=swap");

.App {
  position: absolute;
  text-align: center;
  background-color: #e7f1fc;
  font-family: "Rajdhani", sans-serif;
}

.body {
  width: 100%;
  background-color: #e7f1fc;
}

.Above-logo {
  width: 24%;
  height: 24%;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-top: -14%;
}

.App-link {
  color: #61dafb;
}
.AS-logo {
  width: 10%;
  margin-top: 1%;
  pointer-events: none;
  right: 15%;
  justify-content: center;
  align-items: center;
  /* -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out; */
  position: relative;
  /* animation: Move-img-right 3s; */
  animation: fadeIn 7s;
}

.collapsible-div {
  margin-bottom: 2%;
}

.Header {
  background-color: #2f5199;
  width: 100%;
  height: 90px; /* Adjust the height as needed */
  color: #fff;
}
.slideshow {
  position: absolute;
  height: 450px;
  width: 80%;
  margin-left: 10%;
  margin-top: 2%;
  border-radius: 50%;
}

.our-motto {
  color: #2f5199;
  width: 80%;
  text-align: center;
  margin-left: 10%;
  margin-top: 12%;
}

.greetingBox {
  border-radius: 1rem;
  position: absolute;
  top: 15%;
  left: 70%;
  font-family: "Open Sans", sans-serif;
  font-family: "Rajdhani", sans-serif;
  color: white;
  transform: translate(-50%, -50%);
  text-align: center;

  font-size: 38px;
  animation: fadeIn 7s;
}

@supports (backdrop-filter: blur(1px)) {
  .greetingBox {
    /* backdrop-filter: blur(1px); */
  }
}

.firstPage {
  width: 100%;
}

h6 {
  margin-top: -5%;
}

.homeBtn,
.aboutBtn,
.servicesBtn,
.contactBtn {
  border: 2px solid #2f5199;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-family: "Rajdhani", sans-serif;
  font-size: 15px;
  /* border-width: medium; */
  color: #fff;
  background-color: #2f5199;
  margin-top: 1.5%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  float: left;
  left: 2%;
  padding: 0.5em 1em;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #b0cdff;
  -webkit-transition: ease-out 0.2s;
  -moz-transition: ease-out 0.2s;
  transition: ease-out 0.2s;
}

button:hover {
  background-color: #78c4ff;
}

.infoCard {
  width: 300px;
  height: 225px;
  background: rgb(0, 87, 128);
  position: relative;
  border-radius: 20px;
  cursor: pointer;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.123); */
}

.icon {
  width: 4%;
}

.info {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 10%;
  margin-bottom: 5%;
}
/* .servicesIcons {
  display: inline-block;
} */

.icons-and-services {
  margin-top: 20%;
  position: absolute;
  width: 100%;
}

h1 {
  text-align: center;
}

h5 {
  padding-left: 20px;
  color: white;
}

.Collapsible {
  color: white;
  font-weight: bold;
}

.Collapsible:hover {
  color: #78c4ff;
}

.Collapsible_trigger {
  font-weight: bold;
}

.tabs-container {
  display: flex;
}

.tab {
  margin-right: 10px;
  width: 400px;
}

.tab-header {
  padding: 8px;
  cursor: pointer;
  font-size: 24px;
}

.tab-content {
  padding: 8px;
}

.logo-container {
  width: 100%; /* Optional - Adjust the width as needed */
  text-align: center;
}

.context {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 50px;
  padding: 0.4em 1.5em;
  font-size: 14px;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  transform: scale(0.9);
  /* color: #ffffff; */
  border: 1px solid rgba(255, 255, 255, 0.164);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.144);
  overflow: hidden;
  transition: all 0.4s;
}

.infoCard:hover .context {
  height: 150px;
}

/* .foo {
  position: absolute;
} */

.our-services {
  color: white;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.our-services-title {
  margin-top: 0%;
}

.testing:after {
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  display: inline-block;
  background: -moz-linear-gradient(
    left,
    rgb(5, 86, 236) 0%,
    rgba(253, 252, 251, 0) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left,
    right,
    color-stop(0%, rgba(253, 252, 251, 0)),
    color-stop(100%, rgb(5, 86, 236))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    right,
    rgba(253, 252, 251, 0) 0%,
    #2f5199 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    right,
    rgba(253, 252, 251, 0) 0%,
    #2f5199 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    right,
    rgba(253, 252, 251, 0) 0%,
    #2f5199 100%
  ); /* IE10+ */
  background: linear-gradient(
    to left,
    rgba(253, 252, 251, 0) 0%,
    #2f5199 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 );
}

.servicesInfo {
  margin-left: 5%;
  position: relative;
  margin-top: 0%;
}

. @media (prefers-reduced-motion: no-preference) {
  /* .App-logo,
  .Above-logo {
    animation: Transition-images-in 1s;
  } */

  /* .AS-logo {
    animation: Move-Image-Right 5s;
  } */
}

.mainBanner {
  width: 100%;
  height: 400px;
  position: relative;
}

.parallax {
  /* The image used */
  background-image: url("../src/images/semi-stock-banner-2.jpg");
  /* Set a specific height */
  height: 70vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-two {
  /* The image used */
  background-image: url("../src/images/parked-semis.jpg");

  /* Set a specific height */
  height: 70vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.servicesMural {
  display: grid;
}

.servicesBanner {
  width: 100%;
  float: right;
  margin-top: 15%;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes Main-logo-animation {
  0%,
  25% {
    opacity: 1;
  }
  25.01% {
    opacity: 0;
  }
}

@keyframes Transition-images-in {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes Move-img-right {
  from {
    right: 40%;
  }
  to {
    right: 20%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}
